### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
*.html
*.nmap
*.gnamp
*.xml
zap/zap/zap.yaml
.env
nmap/nmap-reports/*
reports/*
zap/*.yml
zap/*.json
nikto_ports/results/*.txt
nikto_ports/raw_targets.txt
nikto_ports/targets.txt
zap/zap/*.html
zap/zap/*.json